@font-face {
    font-family: 'Ashley Crawford MT';
    src: url('./fonts/AshleyCrawfordMT-Light.woff2') format('woff2'), url('./fonts/AshleyCrawfordMT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Constantine';
    src: url('./fonts/Constantine.woff2') format('woff2'), url('./fonts/Constantine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Constantine', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #111;
}

section {
    position: relative;
    padding: 100px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* .header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.header .toggle {
    max-width: 40px;
    cursor: pointer;
} */

.header .langSwitcher {
    color: #fff;
}

.header .langSwitcher a {
    color: #fff;
    text-decoration: none;
}

.header .langSwitcher a.active {
    color: #ffb300;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.banner .content {
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

.banner .content h2 {
    color: #fff;
    font-size: 5em;
}

.banner .content p {
    color: #fff;
    font-size: 1.4em;
}

.btn {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 14px 30px;
    border-radius: 10px;
    background: #ffb300;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

.fitBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
}

.coverBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleText {
    font-weight: 600;
    color: #ffb300;
    font-size: 2em;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 1.3em;
}

.banner3 .text {
    color: #111;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .contentBx {
    max-width: 50%;
    width: 50%;
    text-align: center;
    padding-right: 40px;
}

.about .imgBx {
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}

.banner2,
.banner3 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:before,
.banner2:before,
.banner3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    /* background: linear-gradient(to top, #111, transparent); */
}

.banner2:after,
.banner3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    /* background: linear-gradient(to bottom, #000, transparent); */
}

.banner:before,
.banner3:before {
    background: linear-gradient(to top, #111111, transparent);
}

.banner:after {
    background: linear-gradient(to bottom, #111111, transparent);
}

.banner2:before {
    background: linear-gradient(to top, #000, transparent);
}

.banner2:after {
    background: linear-gradient(to bottom, #111111, transparent);
}

.banner3:after {
    background: linear-gradient(to bottom, #000, transparent);
}

.destination {
    text-align: center;
    background: #000;
}

.destination .content {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

.destination .destinationList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.destination .destinationList .box {
    position: relative;
    min-width: 350px;
    height: 480px;
    background: #8e001c;
    transition: 0.5s;
    margin: 10px;
}

.destination .destinationList:hover .box {
    opacity: 0.2;
}

.destination .destinationList .box:hover {
    opacity: 1;
}

.destination .destinationList .box .imgBx {
    position: relative;
    width: 100%;
    height: 400px;
}

.destination .destinationList .box .content {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination .destinationList .box .content h2 {
    color: #fff;
    line-height: 1.2em;
}

.formBox {
    background: rgba(255, 179, 0, 0.85);
    width: 50%;
    padding: 50px 80px;
    z-index: 100;
}

.formBox .titleText {
    color: #111;
}

.formBox .form .inputBox {
    margin-bottom: 40px;
}

.formBox .form .inputBox input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #8e001c;
    border-bottom: 2px solid #8e001c;
}

.formBox .form .inputBox input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8e001c;
    opacity: 1;
    /* Firefox */
}

.formBox .form .inputBox input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8e001c;
}

.formBox .form .inputBox input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #8e001c;
}

.formBox .form #formResponse {
    margin-bottom: 10px;
    color: #f4f1ed;
    display: none;
}

.formBox .form .inputBox input[type="submit"] {
    width: 200px;
    background: #8e001c;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .sci {
    position: relative;
    display: flex;
}

.footer .sci li {
    list-style: none;
}

.footer .sci li a {
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a img {
    max-width: 40px;
}

.footer .copyrightText {
    margin-top: 20px;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.footer .copyrightText a {
    color: #555;
    text-decoration: none;
}

@media (max-width: 767px) {
    section {
        padding: 40px;
    }
    .banner .content h2 {
        font-size: 2.5em;
    }
    .banner .content p {
        font-size: 1em;
    }
    .about {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .about .imgBx {
        min-height: 250px;
    }
    .btn {
        margin-bottom: 30px;
    }
    .destination .destinationList .box {
        position: relative;
        max-width: 350px;
        min-width: initial;
        width: 350px;
        height: 400px;
    }
    .destination .destinationList .box .imgBx {
        height: 320px;
    }
    .formBox {
        width: 100%;
        padding: 35px 40px 15px;
    }
    .formBox .titleText {
        font-size: 1.5em;
    }
    .formBox .form .inputBox input[type="submit"] {
        width: 100%;
    }
    .footer .sci li a img {
        max-width: 30px;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .formBox {
        width: 100%;
        padding: 35px 40px 15px;
    }
}